In [ ]:
import pandas as pd
import numpy as np

## Load Dataset and Clean Dataset

In [ ]:
# read the dataset
df = pd.read_csv("train.csv", sep = ",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592380 entries, 0 to 592379
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    592380 non-null  int64
 1   last_price            592380 non-null  float64
 2   mid                   592380 non-null  float64
 3   opened_position_qty   419920 non-null  float64
 4   closed_position_qty   419920 non-null  float64
 5   transacted_qty        592380 non-null  float64
 6   d_open_interest       592380 non-null  int64
 7   bid1                  592380 non-null  float64
 8   bid2                  592380 non-null  float64
 9   bid3                  592380 non-null  float64
 10  bid4                  592380 non-null  float64
 11  bid5                  592380 non-null  float64
 12  ask1                  592380 non-null  float64
 13  ask2                  592380 non-null  float64
 14  ask3                  592380 non-null  float64
 15  ask4                  592380 non-null  float64
 16  ask5                  592380 non-null  float64
 17  bid1vol               592380 non-null  int64
 18  bid2vol               592380 non-null  int64
 19  bid3vol               592380 non-null  int64
 20  bid4vol               592380 non-null  int64
 21  bid5vol               592380 non-null  int64
 22  ask1vol               592380 non-null  int64
 23  ask2vol               592380 non-null  int64
 24  ask3vol               592380 non-null  int64
 25  ask4vol               592380 non-null  int64
 26  ask5vol               592380 non-null  int64
 27  y                     592380 non-null  int64
dtypes: float64(15), int64(13)
memory usage: 126.5 MB

In [ ]:
# drop the last 50,000 rows
df = df.iloc[:-50000]

# rename column name
df.rename(columns = {'opened_position_qty ': 'opened_position_qty'}, inplace = True)

<ipython-input-3-f9c054ed0b53>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns = {'opened_position_qty ': 'opened_position_qty'}, inplace = True)

In [ ]:
# check for missing data
df.isnull().sum()

id                          0
last_price                  0
mid                         0
opened_position_qty    159423
closed_position_qty    159423
transacted_qty              0
d_open_interest             0
bid1                        0
bid2                        0
bid3                        0
bid4                        0
bid5                        0
ask1                        0
ask2                        0
ask3                        0
ask4                        0
ask5                        0
bid1vol                     0
bid2vol                     0
bid3vol                     0
bid4vol                     0
bid5vol                     0
ask1vol                     0
ask2vol                     0
ask3vol                     0
ask4vol                     0
ask5vol                     0
y                           0
dtype: int64

In [ ]:
# replace data points based on surrounding data values
# linear assumes a 'straight line' from the previous data points to the next one. may be less accurate if we have a bunch of missing data points in a row
df['opened_position_qty'].interpolate(method='linear', inplace=True)
df['closed_position_qty'].interpolate(method='linear', inplace=True)

In [ ]:
# check for missing data
df.isnull().sum()

id                     0
last_price             0
mid                    0
opened_position_qty    1
closed_position_qty    1
transacted_qty         0
d_open_interest        0
bid1                   0
bid2                   0
bid3                   0
bid4                   0
bid5                   0
ask1                   0
ask2                   0
ask3                   0
ask4                   0
ask5                   0
bid1vol                0
bid2vol                0
bid3vol                0
bid4vol                0
bid5vol                0
ask1vol                0
ask2vol                0
ask3vol                0
ask4vol                0
ask5vol                0
y                      0
dtype: int64

In [ ]:
df.head()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
0,0,3842.4,3842.6,NaN,NaN,103.0,0,3842.4,3842.0,3841.8,...,1,6,14,6,6,1,1,10,2,1
1,1,3842.8,3843.4,6.0,49.0,55.0,-43,3843.0,3842.8,3842.4,...,6,11,1,6,1,4,4,1,13,0
2,2,3844.0,3844.3,7.0,77.0,84.0,-69,3843.8,3843.6,3843.2,...,1,4,21,12,1,16,10,4,9,0
3,3,3843.8,3843.4,3.0,34.0,37.0,-30,3843.0,3842.8,3842.4,...,13,12,2,4,2,7,1,2,11,1
4,4,3843.2,3843.1,3.0,38.0,41.0,-35,3842.8,3842.4,3842.0,...,12,2,2,4,1,3,1,11,15,1

In [ ]:
# remove the first row which is the only one with missing data now
df = df.iloc[1:]

In [ ]:
df.describe()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
count,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,...,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000
mean,271190.000000,3954.533795,3954.533236,1.226651,1.760397,2.368866,-0.095653,3954.342101,3954.105260,3953.882489,...,4.945757,5.372892,5.678219,6.026555,3.901796,4.948324,5.360373,5.669381,5.994170,0.354608
std,156571.475164,76.290754,76.290037,1.974800,2.317912,3.776659,2.348708,76.285531,76.280009,76.274652,...,5.108917,5.435226,5.763157,6.312679,4.505113,5.455593,5.951042,6.511757,6.991134,0.478395
min,1.000000,3812.000000,3812.100000,0.000000,0.000000,0.000000,-171.000000,3811.800000,3811.600000,3811.400000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,135595.500000,3894.600000,3894.700000,0.000000,1.000000,0.000000,-1.000000,3894.400000,3894.200000,3894.000000,...,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,0.000000
50%,271190.000000,3970.000000,3970.000000,1.000000,1.000000,1.000000,0.000000,3969.800000,3969.600000,3969.400000,...,3.000000,4.000000,4.000000,4.000000,2.000000,3.000000,4.000000,4.000000,4.000000,0.000000
75%,406784.500000,4024.800000,4024.700000,1.500000,2.000000,3.000000,1.000000,4024.600000,4024.200000,4024.000000,...,6.000000,7.000000,7.000000,8.000000,5.000000,6.000000,7.000000,7.000000,7.000000,1.000000
max,542379.000000,4082.800000,4082.900000,80.000000,212.000000,311.000000,50.000000,4082.800000,4082.600000,4082.400000,...,139.000000,136.000000,119.000000,120.000000,130.000000,132.000000,133.000000,134.000000,135.000000,1.000000

In [ ]:
df.head()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
1,1,3842.8,3843.4,6.0,49.0,55.0,-43,3843.0,3842.8,3842.4,...,6,11,1,6,1,4,4,1,13,0
2,2,3844.0,3844.3,7.0,77.0,84.0,-69,3843.8,3843.6,3843.2,...,1,4,21,12,1,16,10,4,9,0
3,3,3843.8,3843.4,3.0,34.0,37.0,-30,3843.0,3842.8,3842.4,...,13,12,2,4,2,7,1,2,11,1
4,4,3843.2,3843.1,3.0,38.0,41.0,-35,3842.8,3842.4,3842.0,...,12,2,2,4,1,3,1,11,15,1
5,5,3843.6,3844.2,12.0,17.0,29.0,-5,3843.8,3843.4,3843.2,...,6,1,2,17,1,12,15,10,3,0

In [ ]:
df.tail()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
542375,542375,4044.2,4044.2,0.5,1.5,0.0,0,4044.0,4043.8,4043.4,...,1,2,6,4,2,3,2,1,1,1
542376,542376,4044.4,4044.2,1.0,1.0,2.0,0,4044.0,4043.8,4043.4,...,1,2,6,4,1,3,1,22,1,0
542377,542377,4044.4,4044.4,3.0,2.0,5.0,1,4044.2,4043.8,4043.4,...,1,2,5,4,3,1,22,1,2,0
542378,542378,4044.4,4044.2,0.0,9.0,9.0,-8,4043.8,4043.4,4043.2,...,2,5,4,3,3,1,22,1,2,0
542379,542379,4044.4,4044.2,0.0,9.0,0.0,0,4044.0,4043.8,4043.4,...,2,2,5,4,1,3,1,22,1,0

## Split the Dataset for Training and Testing

In [ ]:
from sklearn.model_selection import train_test_split

# predictors
X = df.drop(columns = ['y'])

# response variable
y = df['y']

# spilt the dataset into training and testing with a 80/20 spilt with a random state
X_train, X_test, y_train, y_test, = train_test_split(X, y, test_size = 0.2, random_state = 123)

## Random Forest Model

### Fiting a Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# parameters for hypertuning
parameters = [{'n_estimators': [100, 500, 1000, 2000],
               'max_features': ['sqrt'],
               'max_depth': [3, 5, 7, 10, 15, 20],
               'criterion': ['gini', 'entropy']}]

# hypertune for random froest
GridSearch_RandomForest = GridSearchCV(estimator = RandomForestClassifier(random_state = 123), param_grid = parameters, scoring = 'accuracy', cv = 5, n_jobs = -1)

# fit a random forest
GridSearch_RandomForest.fit(X_train, y_train)
print(GridSearch_RandomForest.best_params_)

# score for the best model
print(GridSearch_RandomForest.score(X_train, y_train))

### Predicted Data from Random Forest

In [ ]:
prediction_RandomForest = GridSearch_RandomForest.predict(X_test)
prediction_probs_RandomForest = GridSearch_RandomForest.predict_proba(X_test)