In [4]:
#from google.colab import drive
#drive.mount('/content/drive')
! cp /content/drive/Sharedwithme/CSCE5214Project1/github_keys/keys* /root/.ssh/

'cp' is not recognized as an internal or external command,
operable program or batch file.

In [5]:
import os

# Checking if each directory or file exists
if os.path.exists('/content/drive'):
    print("'/content/drive' exists")
else:
    print("'/content/drive' does not exist")

if os.path.exists('/content/drive/Shared with me'):
    print("'/content/drive/Shared with me' exists")
else:
    print("'/content/drive/Shared with me' does not exist")

if os.path.exists('/content/drive/Shared with me/CSCE5214Project1'):
    print("'/content/drive/Shared with me/CSCE5214Project1' exists")
else:
    print("'/content/drive/Shared with me/CSCE5214Project1' does not exist")

if os.path.exists('/content/drive/Shared with me/CSCE5214Project1/github_keys'):
    print("'/content/drive/Shared with me/CSCE5214Project1/github_keys' exists")
else:
    print("'/content/drive/Shared with me/CSCE5214Project1/github_keys' does not exist")

if os.path.exists('/content/drive/Shared with me/CSCE5214Project1/github_keys/keys*'):
    print("Keys file exists")
else:
    print("Keys file does not exist")

'/content/drive' does not exist
'/content/drive/Shared with me' does not exist
'/content/drive/Shared with me/CSCE5214Project1' does not exist
'/content/drive/Shared with me/CSCE5214Project1/github_keys' does not exist
Keys file does not exist

In [6]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

## Load Dataset and Clean Dataset

In [71]:
# read the dataset
df = pd.read_csv("train.csv", sep = ",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592380 entries, 0 to 592379
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    592380 non-null  int64
 1   last_price            592380 non-null  float64
 2   mid                   592380 non-null  float64
 3   opened_position_qty   419920 non-null  float64
 4   closed_position_qty   419920 non-null  float64
 5   transacted_qty        592380 non-null  float64
 6   d_open_interest       592380 non-null  int64
 7   bid1                  592380 non-null  float64
 8   bid2                  592380 non-null  float64
 9   bid3                  592380 non-null  float64
 10  bid4                  592380 non-null  float64
 11  bid5                  592380 non-null  float64
 12  ask1                  592380 non-null  float64
 13  ask2                  592380 non-null  float64
 14  ask3                  592380 non-null  float64
 15  ask4                  592380 non-null  float64
 16  ask5                  592380 non-null  float64
 17  bid1vol               592380 non-null  int64
 18  bid2vol               592380 non-null  int64
 19  bid3vol               592380 non-null  int64
 20  bid4vol               592380 non-null  int64
 21  bid5vol               592380 non-null  int64
 22  ask1vol               592380 non-null  int64
 23  ask2vol               592380 non-null  int64
 24  ask3vol               592380 non-null  int64
 25  ask4vol               592380 non-null  int64
 26  ask5vol               592380 non-null  int64
 27  y                     592380 non-null  int64
dtypes: float64(15), int64(13)
memory usage: 126.5 MB

In [72]:
# drop the last 50,000 rows
df = df.iloc[:-50000]

# rename column name
df.rename(columns = {'opened_position_qty ': 'opened_position_qty'}, inplace = True)

In [73]:
# check for missing data
df.isnull().sum()

id                          0
last_price                  0
mid                         0
opened_position_qty    159423
closed_position_qty    159423
transacted_qty              0
d_open_interest             0
bid1                        0
bid2                        0
bid3                        0
bid4                        0
bid5                        0
ask1                        0
ask2                        0
ask3                        0
ask4                        0
ask5                        0
bid1vol                     0
bid2vol                     0
bid3vol                     0
bid4vol                     0
bid5vol                     0
ask1vol                     0
ask2vol                     0
ask3vol                     0
ask4vol                     0
ask5vol                     0
y                           0
dtype: int64

In [74]:
# replace data points based on surrounding data values
# linear assumes a 'straight line' from the previous data points to the next one. may be less accurate if we have a bunch of missing data points in a row
df['opened_position_qty'].interpolate(method='linear', inplace=True)
df['closed_position_qty'].interpolate(method='linear', inplace=True)

In [75]:
# check for missing data
df.isnull().sum()

id                     0
last_price             0
mid                    0
opened_position_qty    1
closed_position_qty    1
transacted_qty         0
d_open_interest        0
bid1                   0
bid2                   0
bid3                   0
bid4                   0
bid5                   0
ask1                   0
ask2                   0
ask3                   0
ask4                   0
ask5                   0
bid1vol                0
bid2vol                0
bid3vol                0
bid4vol                0
bid5vol                0
ask1vol                0
ask2vol                0
ask3vol                0
ask4vol                0
ask5vol                0
y                      0
dtype: int64

In [76]:
df.head()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
0,0,3842.4,3842.6,NaN,NaN,103.0,0,3842.4,3842.0,3841.8,...,1,6,14,6,6,1,1,10,2,1
1,1,3842.8,3843.4,6.0,49.0,55.0,-43,3843.0,3842.8,3842.4,...,6,11,1,6,1,4,4,1,13,0
2,2,3844.0,3844.3,7.0,77.0,84.0,-69,3843.8,3843.6,3843.2,...,1,4,21,12,1,16,10,4,9,0
3,3,3843.8,3843.4,3.0,34.0,37.0,-30,3843.0,3842.8,3842.4,...,13,12,2,4,2,7,1,2,11,1
4,4,3843.2,3843.1,3.0,38.0,41.0,-35,3842.8,3842.4,3842.0,...,12,2,2,4,1,3,1,11,15,1

In [77]:
# remove the first row which is the only one with missing data now
df = df.iloc[1:]

In [78]:
df.describe()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
count,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,...,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000,542379.000000
mean,271190.000000,3954.533795,3954.533236,1.226651,1.760397,2.368866,-0.095653,3954.342101,3954.105260,3953.882489,...,4.945757,5.372892,5.678219,6.026555,3.901796,4.948324,5.360373,5.669381,5.994170,0.354608
std,156571.475164,76.290754,76.290037,1.974800,2.317912,3.776659,2.348708,76.285531,76.280009,76.274652,...,5.108917,5.435226,5.763157,6.312679,4.505113,5.455593,5.951042,6.511757,6.991134,0.478395
min,1.000000,3812.000000,3812.100000,0.000000,0.000000,0.000000,-171.000000,3811.800000,3811.600000,3811.400000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,135595.500000,3894.600000,3894.700000,0.000000,1.000000,0.000000,-1.000000,3894.400000,3894.200000,3894.000000,...,2.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,0.000000
50%,271190.000000,3970.000000,3970.000000,1.000000,1.000000,1.000000,0.000000,3969.800000,3969.600000,3969.400000,...,3.000000,4.000000,4.000000,4.000000,2.000000,3.000000,4.000000,4.000000,4.000000,0.000000
75%,406784.500000,4024.800000,4024.700000,1.500000,2.000000,3.000000,1.000000,4024.600000,4024.200000,4024.000000,...,6.000000,7.000000,7.000000,8.000000,5.000000,6.000000,7.000000,7.000000,7.000000,1.000000
max,542379.000000,4082.800000,4082.900000,80.000000,212.000000,311.000000,50.000000,4082.800000,4082.600000,4082.400000,...,139.000000,136.000000,119.000000,120.000000,130.000000,132.000000,133.000000,134.000000,135.000000,1.000000

In [79]:
df.head()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
1,1,3842.8,3843.4,6.0,49.0,55.0,-43,3843.0,3842.8,3842.4,...,6,11,1,6,1,4,4,1,13,0
2,2,3844.0,3844.3,7.0,77.0,84.0,-69,3843.8,3843.6,3843.2,...,1,4,21,12,1,16,10,4,9,0
3,3,3843.8,3843.4,3.0,34.0,37.0,-30,3843.0,3842.8,3842.4,...,13,12,2,4,2,7,1,2,11,1
4,4,3843.2,3843.1,3.0,38.0,41.0,-35,3842.8,3842.4,3842.0,...,12,2,2,4,1,3,1,11,15,1
5,5,3843.6,3844.2,12.0,17.0,29.0,-5,3843.8,3843.4,3843.2,...,6,1,2,17,1,12,15,10,3,0

In [80]:
df.tail()

,id,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
542375,542375,4044.2,4044.2,0.5,1.5,0.0,0,4044.0,4043.8,4043.4,...,1,2,6,4,2,3,2,1,1,1
542376,542376,4044.4,4044.2,1.0,1.0,2.0,0,4044.0,4043.8,4043.4,...,1,2,6,4,1,3,1,22,1,0
542377,542377,4044.4,4044.4,3.0,2.0,5.0,1,4044.2,4043.8,4043.4,...,1,2,5,4,3,1,22,1,2,0
542378,542378,4044.4,4044.2,0.0,9.0,9.0,-8,4043.8,4043.4,4043.2,...,2,5,4,3,3,1,22,1,2,0
542379,542379,4044.4,4044.2,0.0,9.0,0.0,0,4044.0,4043.8,4043.4,...,2,2,5,4,1,3,1,22,1,0

## Split the Dataset for Training and Testing

In [81]:
from sklearn.model_selection import train_test_split

# predictors
X = df.drop(columns = ['y'])

# response variable
y = df['y']

# split the dataset into training and testing with a 80/20 spilt with a random state
X_train, X_test, y_train, y_test, = train_test_split(X, y, test_size = 0.2, random_state = 69)

Long Short-Term Memory Model

In [108]:
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.metrics import AUC
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [109]:
# split into train and test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

# min-max scaler - Xscaled = (X - Xmin) / (Xmax - Xmin) - may not be optimal for our data idrk
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# using numPy to reshape data. LSTM requires 3D data - samples (individual data points(rows)), time steps (length of time step used to predict target var), features (predictor columns used for making predictions)
# default of 1 time step, might set this to 10 or something.
X_train_scaled = np.reshape(X_train_scaled, (X_train_scaled.shape[0], 1, X_train_scaled.shape[1]))
X_test_scaled = np.reshape(X_test_scaled, (X_test_scaled.shape[0], 1, X_test_scaled.shape[1]))

(433903, 1, 27)
(108476, 1, 27)

In [112]:
# assuming the data has been scaled and reshaped properly
X_train_scaled = np.reshape(X_train_scaled, (X_train_scaled.shape[0], 1, 27))
X_test_scaled = np.reshape(X_test_scaled, (X_test_scaled.shape[0], 1, 27))

# build LSTM m
LSTM_model = Sequential()

# adding first layer. Dropout sets a # of neurons to zero during training to prevent overreliance on certain patterns. (overfitting)
# "X_train.shape[1], X_train.shape[2]" selects the time steps and the # features as the 'input shape' so the model knows what data it's getting
LSTM_model.add(LSTM(units=50, return_sequences=True, input_shape=(1, 27)))

# Add Dropout to prevent overfitting
LSTM_model.add(Dropout(0.1))

# second layer, adds 50 more neurons
LSTM_model.add(LSTM(units=50, return_sequences=False))
LSTM_model.add(Dropout(0.1))

# output layer
LSTM_model.add(Dense(units=1, activation='sigmoid'))

# compiles model w selected features. The optimizer is how the model updates weights using backpropagation calc and is (variant of SGD - stochastic gradient descent) - loss function tells optimizer how far guesses were off.
LSTM_model.compile(optimizer='adam', loss='binary_crossentropy', metrics=[AUC(name='auc')])

# train the model
history = LSTM_model.fit(X_train_scaled, y_train, epochs=20, batch_size=32, validation_data=(X_test_scaled, y_test))

# Evaluate the model on test data
test_loss, test_auc = LSTM_model.evaluate(X_test_scaled, y_test)
print(f"Test Loss: {test_loss}")
print(f"Test AUC: {test_auc}")

/usr/local/lib/python3.10/dist-packages/keras/src/layers/rnn/rnn.py:204: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

Epoch 1/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 60s 4ms/step - auc: 0.5893 - loss: 0.6389 - val_auc: 0.6321 - val_loss: 0.6268
Epoch 2/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 58s 4ms/step - auc: 0.6267 - loss: 0.6267 - val_auc: 0.6366 - val_loss: 0.6238
Epoch 3/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 85s 4ms/step - auc: 0.6314 - loss: 0.6256 - val_auc: 0.6377 - val_loss: 0.6234
Epoch 4/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 97s 6ms/step - auc: 0.6334 - loss: 0.6254 - val_auc: 0.6385 - val_loss: 0.6232
Epoch 5/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 68s 5ms/step - auc: 0.6335 - loss: 0.6251 - val_auc: 0.6382 - val_loss: 0.6235
Epoch 6/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 75s 4ms/step - auc: 0.6332 - loss: 0.6253 - val_auc: 0.6391 - val_loss: 0.6234
Epoch 7/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 78s 4ms/step - auc: 0.6357 - loss: 0.6235 - val_auc: 0.6387 - val_loss: 0.6241
Epoch 8/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 89s 5ms/step - auc: 0.6353 - loss: 0.6240 - val_auc: 0.6400 - val_loss: 0.6228
Epoch 9/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 75s 4ms/step - auc: 0.6349 - loss: 0.6245 - val_auc: 0.6400 - val_loss: 0.6230
Epoch 10/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 87s 4ms/step - auc: 0.6363 - loss: 0.6238 - val_auc: 0.6366 - val_loss: 0.6256
Epoch 11/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 76s 4ms/step - auc: 0.6371 - loss: 0.6234 - val_auc: 0.6400 - val_loss: 0.6270
Epoch 12/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 81s 4ms/step - auc: 0.6375 - loss: 0.6229 - val_auc: 0.6391 - val_loss: 0.6226
Epoch 13/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 83s 4ms/step - auc: 0.6358 - loss: 0.6245 - val_auc: 0.6397 - val_loss: 0.6228
Epoch 14/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 57s 4ms/step - auc: 0.6381 - loss: 0.6226 - val_auc: 0.6405 - val_loss: 0.6225
Epoch 15/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 80s 4ms/step - auc: 0.6387 - loss: 0.6222 - val_auc: 0.6411 - val_loss: 0.6229
Epoch 16/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 57s 4ms/step - auc: 0.6392 - loss: 0.6220 - val_auc: 0.6411 - val_loss: 0.6218
Epoch 17/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 80s 4ms/step - auc: 0.6381 - loss: 0.6223 - val_auc: 0.6411 - val_loss: 0.6221
Epoch 18/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 82s 4ms/step - auc: 0.6399 - loss: 0.6226 - val_auc: 0.6411 - val_loss: 0.6224
Epoch 19/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 89s 5ms/step - auc: 0.6404 - loss: 0.6231 - val_auc: 0.6415 - val_loss: 0.6232
Epoch 20/20
13560/13560 ━━━━━━━━━━━━━━━━━━━━ 78s 4ms/step - auc: 0.6396 - loss: 0.6224 - val_auc: 0.6397 - val_loss: 0.6227
3390/3390 ━━━━━━━━━━━━━━━━━━━━ 7s 2ms/step - auc: 0.6395 - loss: 0.6229
Test Loss: 0.6226849555969238
Test AUC: 0.6397225260734558