In [1]:
!pip install scikit-plot scipy==1.11.4
!pip install --force-reinstall scikit-plot==0.3.7 scipy==1.11.4
!pip install scikit-learn==1.3.0

Collecting scikit-plot
  Downloading scikit_plot-0.3.7-py3-none-any.whl.metadata (7.1 kB)
Collecting scipy==1.11.4
  Downloading scipy-1.11.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 60.4/60.4 kB 2.4 MB/s eta 0:00:00
Requirement already satisfied: numpy<1.28.0,>=1.21.6 in /usr/local/lib/python3.10/dist-packages (from scipy==1.11.4) (1.26.4)
Requirement already satisfied: matplotlib>=1.4.0 in /usr/local/lib/python3.10/dist-packages (from scikit-plot) (3.7.1)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.10/dist-packages (from scikit-plot) (1.5.2)
Requirement already satisfied: joblib>=0.10 in /usr/local/lib/python3.10/dist-packages (from scikit-plot) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.4.0->scikit-plot) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.4.0->scikit-plot) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.4.0->scikit-plot) (1.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.4.0->scikit-plot) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.4.0->scikit-plot) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.4.0->scikit-plot) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib>=1.4.0->scikit-plot) (2.8.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.18->scikit-plot) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib>=1.4.0->scikit-plot) (1.16.0)
Downloading scipy-1.11.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 36.4/36.4 MB 60.2 MB/s eta 0:00:00
Downloading scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Installing collected packages: scipy, scikit-plot
  Attempting uninstall: scipy
    Found existing installation: scipy 1.13.1
    Uninstalling scipy-1.13.1:
      Successfully uninstalled scipy-1.13.1
Successfully installed scikit-plot-0.3.7 scipy-1.11.4
Collecting scikit-plot==0.3.7
  Using cached scikit_plot-0.3.7-py3-none-any.whl.metadata (7.1 kB)
Collecting scipy==1.11.4
  Using cached scipy-1.11.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Collecting matplotlib>=1.4.0 (from scikit-plot==0.3.7)
  Downloading matplotlib-3.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting scikit-learn>=0.18 (from scikit-plot==0.3.7)
  Using cached scikit_learn-1.5.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (13 kB)
Collecting joblib>=0.10 (from scikit-plot==0.3.7)
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting numpy<1.28.0,>=1.21.6 (from scipy==1.11.4)
  Using cached numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
Collecting contourpy>=1.0.1 (from matplotlib>=1.4.0->scikit-plot==0.3.7)
  Using cached contourpy-1.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib>=1.4.0->scikit-plot==0.3.7)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib>=1.4.0->scikit-plot==0.3.7)
  Downloading fonttools-4.54.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (163 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 163.7/163.7 kB 3.5 MB/s eta 0:00:00
Collecting kiwisolver>=1.3.1 (from matplotlib>=1.4.0->scikit-plot==0.3.7)
  Using cached kiwisolver-1.4.7-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl.metadata (6.3 kB)
Collecting packaging>=20.0 (from matplotlib>=1.4.0->scikit-plot==0.3.7)
  Using cached packaging-24.1-py3-none-any.whl.metadata (3.2 kB)
Collecting pillow>=8 (from matplotlib>=1.4.0->scikit-plot==0.3.7)
  Using cached pillow-10.4.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (9.2 kB)
Collecting pyparsing>=2.3.1 (from matplotlib>=1.4.0->scikit-plot==0.3.7)
  Using cached pyparsing-3.1.4-py3-none-any.whl.metadata (5.1 kB)
Collecting python-dateutil>=2.7 (from matplotlib>=1.4.0->scikit-plot==0.3.7)
  Downloading python_dateutil-2.9.0.post0-py2.py3-none-any.whl.metadata (8.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn>=0.18->scikit-plot==0.3.7)
  Using cached threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Collecting six>=1.5 (from python-dateutil>=2.7->matplotlib>=1.4.0->scikit-plot==0.3.7)
  Using cached six-1.16.0-py2.py3-none-any.whl.metadata (1.8 kB)
Using cached scikit_plot-0.3.7-py3-none-any.whl (33 kB)
Using cached scipy-1.11.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.4 MB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading matplotlib-3.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 82.8 MB/s eta 0:00:00
Using cached numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.2 MB)
Using cached scikit_learn-1.5.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.3 MB)
Using cached contourpy-1.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (322 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.54.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 107.3 MB/s eta 0:00:00
Using cached kiwisolver-1.4.7-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
Using cached packaging-24.1-py3-none-any.whl (53 kB)
Using cached pillow-10.4.0-cp310-cp310-manylinux_2_28_x86_64.whl (4.5 MB)
Using cached pyparsing-3.1.4-py3-none-any.whl (104 kB)
Downloading python_dateutil-2.9.0.post0-py2.py3-none-any.whl (229 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.9/229.9 kB 19.5 MB/s eta 0:00:00
Using cached threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Using cached six-1.16.0-py2.py3-none-any.whl (11 kB)
Installing collected packages: threadpoolctl, six, pyparsing, pillow, packaging, numpy, kiwisolver, joblib, fonttools, cycler, scipy, python-dateutil, contourpy, scikit-learn, matplotlib, scikit-plot
  Attempting uninstall: threadpoolctl
    Found existing installation: threadpoolctl 3.5.0
    Uninstalling threadpoolctl-3.5.0:
      Successfully uninstalled threadpoolctl-3.5.0
  Attempting uninstall: six
    Found existing installation: six 1.16.0
    Uninstalling six-1.16.0:
      Successfully uninstalled six-1.16.0
  Attempting uninstall: pyparsing
    Found existing installation: pyparsing 3.1.4
    Uninstalling pyparsing-3.1.4:
      Successfully uninstalled pyparsing-3.1.4
  Attempting uninstall: pillow
    Found existing installation: pillow 10.4.0
    Uninstalling pillow-10.4.0:
      Successfully uninstalled pillow-10.4.0
  Attempting uninstall: packaging
    Found existing installation: packaging 24.1
    Uninstalling packaging-24.1:
      Successfully uninstalled packaging-24.1
  Attempting uninstall: numpy
    Found existing installation: numpy 1.26.4
    Uninstalling numpy-1.26.4:
      Successfully uninstalled numpy-1.26.4
  Attempting uninstall: kiwisolver
    Found existing installation: kiwisolver 1.4.7
    Uninstalling kiwisolver-1.4.7:
      Successfully uninstalled kiwisolver-1.4.7
  Attempting uninstall: joblib
    Found existing installation: joblib 1.4.2
    Uninstalling joblib-1.4.2:
      Successfully uninstalled joblib-1.4.2
  Attempting uninstall: fonttools
    Found existing installation: fonttools 4.53.1
    Uninstalling fonttools-4.53.1:
      Successfully uninstalled fonttools-4.53.1
  Attempting uninstall: cycler
    Found existing installation: cycler 0.12.1
    Uninstalling cycler-0.12.1:
      Successfully uninstalled cycler-0.12.1
  Attempting uninstall: scipy
    Found existing installation: scipy 1.11.4
    Uninstalling scipy-1.11.4:
      Successfully uninstalled scipy-1.11.4
  Attempting uninstall: python-dateutil
    Found existing installation: python-dateutil 2.8.2
    Uninstalling python-dateutil-2.8.2:
      Successfully uninstalled python-dateutil-2.8.2
  Attempting uninstall: contourpy
    Found existing installation: contourpy 1.3.0
    Uninstalling contourpy-1.3.0:
      Successfully uninstalled contourpy-1.3.0
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.5.2
    Uninstalling scikit-learn-1.5.2:
      Successfully uninstalled scikit-learn-1.5.2
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.7.1
    Uninstalling matplotlib-3.7.1:
      Successfully uninstalled matplotlib-3.7.1
  Attempting uninstall: scikit-plot
    Found existing installation: scikit-plot 0.3.7
    Uninstalling scikit-plot-0.3.7:
      Successfully uninstalled scikit-plot-0.3.7
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 joblib-1.4.2 kiwisolver-1.4.7 matplotlib-3.9.2 numpy-1.26.4 packaging-24.1 pillow-10.4.0 pyparsing-3.1.4 python-dateutil-2.9.0.post0 scikit-learn-1.5.2 scikit-plot-0.3.7 scipy-1.11.4 six-1.16.0 threadpoolctl-3.5.0

Collecting scikit-learn==1.3.0
  Downloading scikit_learn-1.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn==1.3.0) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn==1.3.0) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn==1.3.0) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn==1.3.0) (3.5.0)
Downloading scikit_learn-1.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 97.9 MB/s eta 0:00:00
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.5.2
    Uninstalling scikit-learn-1.5.2:
      Successfully uninstalled scikit-learn-1.5.2
Successfully installed scikit-learn-1.3.0

In [2]:
import pandas as pd
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
import scikitplot as skplt
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from tensorflow.keras.metrics import AUC
from sklearn.preprocessing import MinMaxScaler
import pickle

In [3]:
warnings.filterwarnings('ignore')

Load Dataset and Clean Dataset

In [5]:
# read the dataset
df = pd.read_csv("train.csv", sep = ",")
df_testing = pd.read_csv("test.csv", sep = ",")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592380 entries, 0 to 592379
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    592380 non-null  int64
 1   last_price            592380 non-null  float64
 2   mid                   592380 non-null  float64
 3   opened_position_qty   419920 non-null  float64
 4   closed_position_qty   419920 non-null  float64
 5   transacted_qty        592380 non-null  float64
 6   d_open_interest       592380 non-null  int64
 7   bid1                  592380 non-null  float64
 8   bid2                  592380 non-null  float64
 9   bid3                  592380 non-null  float64
 10  bid4                  592380 non-null  float64
 11  bid5                  592380 non-null  float64
 12  ask1                  592380 non-null  float64
 13  ask2                  592380 non-null  float64
 14  ask3                  592380 non-null  float64
 15  ask4                  592380 non-null  float64
 16  ask5                  592380 non-null  float64
 17  bid1vol               592380 non-null  int64
 18  bid2vol               592380 non-null  int64
 19  bid3vol               592380 non-null  int64
 20  bid4vol               592380 non-null  int64
 21  bid5vol               592380 non-null  int64
 22  ask1vol               592380 non-null  int64
 23  ask2vol               592380 non-null  int64
 24  ask3vol               592380 non-null  int64
 25  ask4vol               592380 non-null  int64
 26  ask5vol               592380 non-null  int64
 27  y                     592380 non-null  int64
dtypes: float64(15), int64(13)
memory usage: 126.5 MB

In [6]:
# drop the id column since it is just an index
df.drop(columns = ['id'], inplace = True)

# drop the id column since it is just an index
df_testing.drop(columns = ['id'], inplace = True)

In [7]:
# check for missing data
df.isnull().sum()

last_price                   0
mid                          0
opened_position_qty     172460
closed_position_qty     172460
transacted_qty               0
d_open_interest              0
bid1                         0
bid2                         0
bid3                         0
bid4                         0
bid5                         0
ask1                         0
ask2                         0
ask3                         0
ask4                         0
ask5                         0
bid1vol                      0
bid2vol                      0
bid3vol                      0
bid4vol                      0
bid5vol                      0
ask1vol                      0
ask2vol                      0
ask3vol                      0
ask4vol                      0
ask5vol                      0
y                            0
dtype: int64

In [8]:
# check for missing data
df_testing.isnull().sum()

last_price                  0
mid                         0
opened_position_qty     53656
closed_position_qty     53656
transacted_qty              0
d_open_interest             0
bid1                        0
bid2                        0
bid3                        0
bid4                        0
bid5                        0
ask1                        0
ask2                        0
ask3                        0
ask4                        0
ask5                        0
bid1vol                     0
bid2vol                     0
bid3vol                     0
bid4vol                     0
bid5vol                     0
ask1vol                     0
ask2vol                     0
ask3vol                     0
ask4vol                     0
ask5vol                     0
dtype: int64

In [9]:
# Fill na with 0

df.fillna(0, inplace = True)
df_testing.fillna(0, inplace = True)

In [10]:
# check for missing data
df.isnull().sum()

last_price              0
mid                     0
opened_position_qty     0
closed_position_qty     0
transacted_qty          0
d_open_interest         0
bid1                    0
bid2                    0
bid3                    0
bid4                    0
bid5                    0
ask1                    0
ask2                    0
ask3                    0
ask4                    0
ask5                    0
bid1vol                 0
bid2vol                 0
bid3vol                 0
bid4vol                 0
bid5vol                 0
ask1vol                 0
ask2vol                 0
ask3vol                 0
ask4vol                 0
ask5vol                 0
y                       0
dtype: int64

In [11]:
# check for missing data
df_testing.isnull().sum()

last_price              0
mid                     0
opened_position_qty     0
closed_position_qty     0
transacted_qty          0
d_open_interest         0
bid1                    0
bid2                    0
bid3                    0
bid4                    0
bid5                    0
ask1                    0
ask2                    0
ask3                    0
ask4                    0
ask5                    0
bid1vol                 0
bid2vol                 0
bid3vol                 0
bid4vol                 0
bid5vol                 0
ask1vol                 0
ask2vol                 0
ask3vol                 0
ask4vol                 0
ask5vol                 0
dtype: int64

In [12]:
df.head()

,last_price,mid,opened_position_qty,closed_position_qty,transacted_qty,d_open_interest,bid1,bid2,bid3,bid4,...,bid2vol,bid3vol,bid4vol,bid5vol,ask1vol,ask2vol,ask3vol,ask4vol,ask5vol,y
0,3842.4,3842.6,0.0,0.0,103.0,0,3842.4,3842.0,3841.8,3841.0,...,1,6,14,6,6,1,1,10,2,1
1,3842.8,3843.4,6.0,49.0,55.0,-43,3843.0,3842.8,3842.4,3842.0,...,6,11,1,6,1,4,4,1,13,0
2,3844.0,3844.3,7.0,77.0,84.0,-69,3843.8,3843.6,3843.2,3843.0,...,1,4,21,12,1,16,10,4,9,0
3,3843.8,3843.4,3.0,34.0,37.0,-30,3843.0,3842.8,3842.4,3842.0,...,13,12,2,4,2,7,1,2,11,1
4,3843.2,3843.1,3.0,38.0,41.0,-35,3842.8,3842.4,3842.0,3841.8,...,12,2,2,4,1,3,1,11,15,1

In [14]:
# rename column name
df.rename(columns = {'opened_position_qty ': 'opened_position_qty'}, inplace = True)

In [15]:
# rename column name
df_testing.rename(columns = {'opened_position_qty ': 'opened_position_qty'}, inplace = True)

In [16]:
# Feature Engineering with midprice and Open/Close positions

# Feature: Ratio of opened_position_qty to closed_position_qty
df['open_close_ratio'] = df['opened_position_qty'] / (df['closed_position_qty'] + 1e-6)  # Add small value to avoid division by zero
df_testing['open_close_ratio'] = df['opened_position_qty'] / (df['closed_position_qty'] + 1e-6)  # Add small value to avoid division by zero

# Feature: Difference between midprice and last price
df['mid_last_diff'] = df['mid'] - df['last_price']
df_testing['mid_last_diff'] = df['mid'] - df['last_price']

# Feature: Total bid volume compared to midprice
total_bid_vol = df['bid1vol'] + df['bid2vol'] + df['bid3vol'] + df['bid4vol'] + df['bid5vol']
total_ask_vol = df['ask1vol'] + df['ask2vol'] + df['ask3vol'] + df['ask4vol'] + df['ask5vol']

total_bid_vol_testing = df_testing['bid1vol'] + df_testing['bid2vol'] + df_testing['bid3vol'] + df_testing['bid4vol'] + df_testing['bid5vol']
total_ask_vol_testing = df_testing['ask1vol'] + df_testing['ask2vol'] + df_testing['ask3vol'] + df_testing['ask4vol'] + df_testing['ask5vol']

# ratio between bid/ask volume and the midprice:
df['bid_ask_vol_ratio'] = total_bid_vol / (total_ask_vol + 1e-6)  # Add small value to avoid division by zero
df_testing['bid_ask_vol_ratio'] = total_bid_vol_testing / (total_ask_vol_testing + 1e-6)  # Add small value to avoid division by zero

In [17]:
# export the last 50,000 rows from training data
trainingSubSet = df.tail(50000)
trainingSubSet.to_csv("training_subset.csv", index = False)
del trainingSubSet

# drop the last 50,000 rows
df = df.iloc[:-50000]

In [18]:
# predictors
X = df.drop(columns = ['y'])

# response variable
y = df['y']

# spilt the dataset into training and testing with a 80/20 spilt with a random state
X_train, X_test, y_train, y_test, = train_test_split(X, y, test_size = 0.2, random_state = 123)

In [19]:
# parameters for hypertuning
parameters = [{'n_estimators': [100],
               'max_features': ['sqrt'],
               'max_depth': [16],
               'criterion': ['gini']}]

# hypertune for random froest
GridSearch_RandomForest = GridSearchCV(estimator = RandomForestClassifier(random_state = 123), param_grid = parameters, scoring = 'accuracy', cv = 5)

# fit a random forest
GridSearch_RandomForest.fit(X_train, y_train)
print(GridSearch_RandomForest.best_params_)

# score for the best model
print(GridSearch_RandomForest.score(X_train, y_train))

{'criterion': 'gini', 'max_depth': 16, 'max_features': 'sqrt', 'n_estimators': 100}
0.7563931192153103

In [22]:
# Save the trained model to a file
with open('random_forest_model.pkl', 'wb') as f:
    pickle.dump(GridSearch_RandomForest, f)

In [23]:
import pickle
import gzip

# Save the model to a .pkl file
with open('model.pkl', 'wb') as f:
    pickle.dump(GridSearch_RandomForest, f)

# Compress the .pkl file using gzip
with open('model.pkl', 'rb') as f_in:
    with gzip.open('model.pkl.gz', 'wb') as f_out:
        f_out.writelines(f_in)

print("Compressed model saved as: model.pkl.gz")

Compressed model saved as: model.pkl.gz

In [24]:
import pickle
import gzip

# Decompress and load the model
with gzip.open('model.pkl.gz', 'rb') as f_in:
    model = pickle.load(f_in)

print("Model loaded successfully!")

Model loaded successfully!

In [26]:
print(model.predict(X_test))

[0 0 0 ... 0 0 0]

In [27]:
print(model.score(X_test, y_test))

0.6658615730668535

In [28]:
import joblib

# Save the model with compression
joblib.dump(model, 'model_compressed.pkl', compress=('gzip', 9))  # Maximum compression level (9)

['model_compressed.pkl']

In [29]:
singlerow = df_testing.iloc[0:1]
print(singlerow)

   last_price     mid  opened_position_qty  closed_position_qty  \
0      5178.4  5178.3                  1.0                 11.0

   transacted_qty  d_open_interest    bid1    bid2    bid3    bid4  ...  \
0            12.0              -10  5178.2  5178.0  5177.8  5177.6  ...

   bid4vol  bid5vol  ask1vol  ask2vol  ask3vol  ask4vol  ask5vol  \
0        1        1        1        4        1        5        2

   open_close_ratio  mid_last_diff  bid_ask_vol_ratio
0               0.0            0.2           1.846154

[1 rows x 29 columns]

In [30]:
print(model.predict(singlerow))

[0]